*{
    margin: 0;
    padding: 0
}
body{
        font-family: "Poppins", sans-serif;
}
.cabecalho{
    background-color: #ffffffce;
    color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    align-items: center;
}
.cabecalho-imagem{
    width: 15%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
}
.tenis-imagem{
    width: 25%;
    padding-left: 50px;
}
.tenis{
    background-image: linear-gradient(#18ec23, #05ab08);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    text-align: justify;
}
.div-tenis{
    width: 35% ;
}
.titulo-tenis{
    padding: 24px 0;
}
.tenis-texto-um{
    padding: 16px 0;
}
.tenis-texto-dois{
    padding: 16px 0;
}
.atleta-imagem{
    width: 120px;
}
.fotos-icone{
    width: 150px;
    padding: 0 8px;
}
.atletas{
    padding: 24px 0;
    background-color: #1bb551;
    color: #000000;
}
.atleta-div{
    text-align: center;
    padding: 24px 0;
}
.atleta-titulo{
    text-align: center;
    padding: 24px 0;
}
.atletas-todos{
    display: inline;
    grid-template-columns: 25% 25% 25%;
}
.rodape{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
}
.rodape-logo{
    width: 10%;
}
.rodape-icone{
    width: 24px;
}
.rodape-div{
    display: flex;
    justify-content: center;
}
.rodape-fone{
    padding: 0 6px;
}